<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="loginPage.css">
    <title>Enter Events</title>
</head>
<body>
    <div class="login-container">
    <h1>Enter Events</h1>
    <form class="events" action="" method="post" style="background-color: black;">
        <fieldset>
            <label for=" " >Event Name : </label>
                <input type="text" id="" name="" required>
        </fieldset>

        <fieldset>
            <label for=" "> Description : </label>
                <input type="text" id="" name="" required>   
        </fieldset>

        <fieldset>
            <label for=" "> Event Date : </label>
                <input type="datetime-local" id="" name="" required>
        </fieldset>

        <fieldset>
            <label for=" " class="event-label"> Venue : </label>
                <input type="text" id="" name="" required>
        </fieldset>

        <fieldset>
            <label for=" " class="event-label"> Start Time: </label>
                <input type="time" id="" name="" required>
        </fieldset>

        <fieldset>
            <label for=" " class="event-label"> End Time : </label>
                <input type="time" id="" name="" required>
        </fieldset>
        <fieldset>
            <label for=" " class="event-label"> Event Type : </label>
                <input type="text" id="" name="" required>
        </fieldset>

        <fieldset>
            <label for=" " class="event-label"> Music Type : </label>
                <input type="text" id="" name="" required>
        </fieldset>

        <fieldset>
            <label for=" " class="event-label"> Organizer : </label>
                <input type="text" id="" name="" required>
        </fieldset>

        <fieldset>
            <label for=" " class="event-label"> Entry Fees : </label>
                <input type="text" id="" name="" required>
        </fieldset>
        <button class="login-btn" type="submit">Submit</button>
    </form>
    </div>
    
</body>
</html>





