<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="loginPage.css">
    <title>Add Profile Picture</title>
    
</head>
<body>
    
    <!-- <div class="login-container"> -->

        <div class="login-container left-container"
        <section>
            <article>
                <h3 class="code_label">Add Profile Picture</h3>
            </article>
        </section>
        <section>
            <div class="profile-pic"></div>
            </section>





        
        <button class="login-btn apple">Access Camera Roll</button>
        <button class="login-btn gmail">Take Photo</button>
    </div>
</body>
</html>
