<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="loginPage.css" rel="stylesheet">
    <title>Confirm Code AppleID</title>
</head>
<body>
    
        <div class="login-container"
            <section>
                <article>
                    <h3 class="code_label">Confirm Code</h3>
                </article>
            </section>
            <section>
                  <article>
                    <p id="textbox-code" class="textbox-code"> Please enter the code that was sent to your Apple ID</p>
                  </article>
                   <article>
                        <div class="code-container">
                          <input type="text" class="code-input" maxlength="1"/>
                          <input type="text" class="code-input" maxlength="1"/>
                          <input type="text" class="code-input" maxlength="1"/>
                          <input type="text" class="code-input" maxlength="1"/>
                          <input type="text" class="code-input" maxlength="1"/>
                          <input type="text" class="code-input" maxlength="1"/>
                        </div>
                    </article>
                    <button class="login-btn apple">Continue</button> 
                    <article>Did not receive a code? <a href="#">Click here to resend </a></article> 

             </section>

        </div>
</body>
</html>