<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="loginPage.css" rel="stylesheet">
    <title>Enter Password</title>
</head>
<body>
    
        <div class="login-container left-container"
            <section>
                <article>
                    <h3 class="code_label">Enter your password</h3>
                </article>
            </section>
            <section>
                <form action="">
                  <article>
                    <label> Enter your password</label>
                  </article>
                   <article>
                        <input type="password" class="input-full"/>
                    </article>
                    <article>
                        <label> Confirm password</label>
                      </article>
                    <article>
                        <input type="password" class="input-full"/>
                      </article>

                    <input id="8chars" type="radio" class="password-rules" name="password-rules" value="8chars"/><label for="8chars"> At least 8 characters long </label> <br/>
                    <input id="1specialChar"type="radio" class="password-rules" name="password-rules" value="1specialChar"/> <label for="1specialChar">At least 1 special character </label><br/>
                    <input id="differentEmail" type="radio" class="password-rules" name="password-rules" value="Different from your email"/><label for="differentEmail"> Different from your email </label>

                        
                    <button class="login-btn apple">Continue</button>  
                </form>
             </section>

        </div>
</body>
</html>