<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="loginPage.css" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <main>
        <div class="login-container"
            <section>
                <article>
                    <h3 class="name_label">Enter your name</h3>
                </article>
                <article>
                    <label id="textbox_name" name="textbox_name">Enter your name for others to see</label>
                    <input type="text" for="textbox_name" />
                </article>
            </section>
            <section>
                <p> By selecting your age, you agree to Party Pulser's Terms and Privacy Policy </p>
                <button class="login-btn apple">Continue</button>            </section>
        </div>
    </main>
    
</body>
</html>