<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="loginPage.css">
    <title>Login Page</title>
    
</head>
<body>
    
    <div class="login-container">
        <h1>Login</h1>
        <div>
            <img src="mobile_app_logo.jpeg" alt="logo">
        </div>
        <button class="login-btn gmail">Login with Gmail</span></button>
        <button class="login-btn apple">Login with Apple</button>
        <div class="or-divider">&nbsp; or &nbsp; </div>
        <button class="login-btn phone">Login with Phone Number</button>
    </div>
</body>
</html>
