<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="events.css" rel="stylesheet" >
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
   
    <title>Nearby Events</title>
</head>

<body>
    <div class="login-container"
    
        <main>
            <section> 
                <h4> Nearby Events </h4>
                <div style= "background-image: url(images/theater-image-background.png);
                    height: 200px;
                    width: 100%;
                    border: 1px solid rgb(234, 227, 227);
                    background-size: contain;">

                    <p>this area should display the local map(based on zipcode or city) from api and should display a Marker for the locations of the events listed below. </p>

                </div>
            </section>


            <section>
                    <div class="flexbox-col">
                    
                    <input type="button" name="menu1" class="menu" id="menu1" value="menu1">
                    <input type="button" name="menu2" class="menu" id="menu2" value="menu2">
                    <input type="button" name="menu3" class="menu" id="menu3" value="menu3">
                    <input type="button" name="menu4" class="menu" id="menu4" value="menu4">
                    </div>
                
                </section>

                <section>
                        <div class="flexbox-col">
                            <div class="box"><img class = "show-img" src=""></div>
                            <div class="box details">
                                <article class=""> <strong> Name of event </strong></article> 
                                <article>Date</article> 
                                <article>Address</article>
                                <article>Price</article>
                        </div>
                </section>

                <section>
                    <div class="flexbox-col">
                        <div class="box"><img class = "show-img" src=""></div>
                        <div class="box details">
                            <article class=""> <strong> Name of event </strong></article> 
                            <article>Date</article> 
                            <article>Address</article>
                            <article>Price</article>
                    </div>
                </section>       
            <section>
                    <div class="flexbox-col">
                        <div class="box"><img class = "show-img" src=""></div>
                        <div class="box details">
                            <article class=""> <strong> Name of event </strong></article> 
                            <article>Date</article> 
                            <article>Address</article>
                            <article>Price</article>
                    </div>
                </section>       
            <section>
                <div class="flexbox-col">
                    <div class="box"><img class = "show-img" src=""></div>
                    <div class="box details">
                        <article class=""> <strong> Name of event </strong></article> 
                        <article>Date</article> 
                        <article>Address</article>
                        <article>Price</article>
                </div>
            </section>

            <section>
                <div class="flexbox-col">
                    <div class="box"><img class = "show-img" src=""></div>
                    <div class="box details">
                        <article class=""><strong> Name of event </strong></article> 
                        <article>Date</article> 
                        <article>Address</article>
                        <article>Price</article>
                </div>
            </section>

        </main>

    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>

</body>

</html>