<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="loginPage.css" rel="stylesheet">
    <title>Enter Password</title>
</head>
<body>
    
        <div class="login-container left-container"
            <section>
                <article>
                    <h3 class="code_label">Welcome Aboard User!</h3>
                    <p>Select the purpose of this app.</p>
                </article>
            </section>
            <section>
                <form action="" >
      
                    <h3 class="subheading">Subheading</h3>
                    <input id="value1" class="password-rules" type="checkbox" class="event-notification" name="event-notification" value="value1"/><label for="value1"> Purpose 1 </label> <br/>
                    <input id="value2" class="password-rules" type="checkbox" class="event-notification" name="event-notification" value="value2"/> <label for="value2">Purpose 2 </label><br/>
                    <input id="value3" class="password-rules" type="checkbox" class="event-notification" name="event-notification" value="value3"/><label for="value3"> Purpose 3</label><br/>
                    <input id="value4" class="password-rules" type="checkbox" class="event-notification" name="event-notification" value="value4"/><label for="value4"> Purpose 4 </label> <br/>
                    <input id="value5" class="password-rules" type="checkbox" class="event-notification" name="event-notification" value="value5"/> <label for="value5">Purpose 5 </label><br/>
                    <input id="value6" class="password-rules" type="checkbox" class="event-notification" name="event-notification" value="value6"/><label for="value6"> Purpose 6</label><br/>
                    <input id="value7" class="password-rules" type="checkbox" class="event-notification" name="event-notification" value="value7"/><label for="value7"> Purpose 7 </label> <br/>
                    <input id="value8" class="password-rules" type="checkbox" class="event-notification" name="event-notification" value="value8"/> <label for="value8">Purpose 8 </label><br/>

                    <div class="btn-container">    
                      <button id="later-btn" class="login-btn apple ">Continue</button>  
                      <!-- <button id="turn-on-btn" class="login-btn gmail half-btn">Turn On</button>   -->
                    </div>
                 </form>
             </section>

        </div>


</body>
</html>